# EditorConfig is awesome: http://EditorConfig.org

[*]
indent_style = space
insert_final_newline = true
end_of_line = crlf

[*.{ps1,psm1,psd1}]
indent_size = 4
trim_trailing_whitespace = true

[*.{cs}]
indent_size = 4
trim_trailing_whitespace = true

[*.{json}]
indent_size = 2
trim_trailing_whitespace = true

[*.{ps1xml,props,xml,yaml,yml}]
indent_size = 2
