# https://aka.ms/yaml
name: $(GitVersion_InformationalVersion)

variables:
  ArtifactName: Modules

resources:
  repositories:
  - repository: templates
    endpoint: PoshCode
    type: github
    name: PoshCode/Azure-Pipelines
    ref: master # refs/tags/3.2.0

stages:
- stage: Build
  jobs:
  - template: GitVersion-job.yml@templates
  - template: Build-Module-job.yml@templates
    parameters:
      dependsOn: ['Build']
      artifactName: $(ArtifactName)

- stage: Test
  dependsOn: Build
  jobs:
  - template: ScriptAnalyzer-job.yml@templates
    parameters:
      dependsOn: []
      artifactName: $(ArtifactName)

  - template: Pester-job.yml@templates
    parameters:
      dependsOn: []
      artifactName: $(ArtifactName)
      TestsDirectory: '$(Build.SourcesDirectory)/Tests'
      strategy:
        matrix:
          Linux:
            vmImage: 'ubuntu-16.04'
          MacOS:
            vmImage: 'macOS-10.14'
          Windows:
            vmImage: 'windows-2019'
      pool:
        vmImage: $(vmImage)

